@model IEnumerable<BUSS.Models.Feedback>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Calificacion
        </th>
        <th>
            Comentario
        </th>
        <th>
            Fecha de creación
        </th>
        <th>
            Cliente
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Isi_Feedback)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transaksi.ID_Customer)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_Feedback }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.ID_Feedback }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_Feedback })
        </td>
    </tr>
}

</table>
