@model BUSS.Models.Destinasi

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
    <h4>Destinasi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre del destino
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nama_Destinasi)
        </dd>

        <dt>
            Precio del ticket
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Harga_Tiket)
        </dd>

        <dt>
            Calificaciones
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <!--<dt>
        Horario de salida
    </dt>

    <dd>
        Html.DisplayFor(model => model.Jam_Buka)
    </dd>

    <dt>
        Horario de llegada
    </dt>

    <dd>
        Html.DisplayFor(model => model.Jam_Tutup)
    </dd>-->

        <dt>
            Foto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail_Foto)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deskripsi)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Nombre de la ciudad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kota.Nama_Kota)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
