@model BUSS.Models.Destinasi

@{ ViewBag.Title = "Editar destino";
                ViewBag.SidebarMenu = "Destinos"; }

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">@ViewBag.SidebarMenu</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="/Admin">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Destinasi")">@ViewBag.SidebarMenu</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Editar</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="card-title">@ViewBag.Title</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formSubmit" }))
                    {
        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ID_Destinasi)
                                        @Html.HiddenFor(model => model.CreatedBy)
                                                        @Html.HiddenFor(model => model.CreatedDate)
                                                                        <div class="row">
                                                                            <div class="col-md-4">

                                                                                <div class="form-group">
                                                                                    Nombre del destino
                                                                                    <label class="text-danger">*</label>
                                                                                    @Html.EditorFor(model => model.Nama_Destinasi, new { htmlAttributes = new { @class = "form-control" } })
                                                                                    @Html.ValidationMessageFor(model => model.Nama_Destinasi, "", new { @class = "text-danger" })
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    Precio del ticket
                                                                                    <label class="text-danger">*</label>
                                                                                    @Html.EditorFor(model => model.Harga_Tiket, new { htmlAttributes = new { @class = "form-control" } })
                                                                                    @Html.ValidationMessageFor(model => model.Harga_Tiket, "", new { @class = "text-danger" })
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    Ciudad
                                                                                    <label class="text-danger">*</label>
                                                                                    @Html.DropDownList("ID_Kota", null, "Pilih Kota", htmlAttributes: new { @class = "form-control" })
                                                                                    @Html.ValidationMessageFor(model => model.ID_Kota, "", new { @class = "text-danger" })
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <input type="submit" value="Agregar" class="btn btn-primary" />
                                                                                    <a href="@Url.Action("Index", "Destinasi")" class="btn btn-warning">Cancelar</a>
                                                                                </div>

                                                                            </div>

                                                                            <div class="col-md-4">

                                                                                <div class="form-group">
                                                                                    Horario de salida
                                                                                    <label class="text-danger">*</label>
                                                                                    @Html.EditorFor(model => model.Jam_buka, new { htmlAttributes = new { @class = "form-control" } })
                                                                                    @Html.ValidationMessageFor(model => model.Jam_buka, "", new { @class = "text-danger" })
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    Horario de llegada
                                                                                    <label class="text-danger">*</label>
                                                                                    @Html.EditorFor(model => model.Jam_tutup, new { htmlAttributes = new { @class = "form-control" } })
                                                                                    @Html.ValidationMessageFor(model => model.Jam_tutup, "", new { @class = "text-danger" })
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    Descripción
                                                                                    @Html.EditorFor(model => model.Deskripsi, new { htmlAttributes = new { @class = "form-control" } })
                                                                                    @Html.ValidationMessageFor(model => model.Deskripsi, "", new { @class = "text-danger" })
                                                                                </div>

                                                                            </div>
                                                                        </div>}

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $("#formSubmit").submit(function (e) {
            var hargaTiket = $('#Harga_Tiket').val().replace(/[^0-9]/g, '');
            $('#Harga_Tiket').val(hargaTiket);
        });

        $('#Harga_Tiket').priceFormat({
            prefix: '',
            centsLimit: 0,
            thousandsSeparator: '.'
        });

        $('#Jam_buka').datetimepicker({
            format: 'HH:mm'
        });

        $('#Jam_tutup').datetimepicker({
            format: 'HH:mm'
        });
    </script>
}