
@{
    ViewBag.Title = "Tableros";
    ViewBag.Dashboard = "active";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Tableros</h2>
                <h5 class="text-white op-7 mb-2">Bienvenido, @Session["Name"]!</h5>
            </div>
        </div>
    </div>
</div>
<div class="page-inner mt--5">
    <div class="row mt--2">
        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">Su última transacción</div>
                    <div class="table-responsive mt-4">
                        <table class="table" id="example2">
                        <thead>
                            <tr>
                                <td>No</td>
                                <td>Paquete</td>
                                <td>Precio total</td>
                                <td>Estado</td>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int no = 1; }
                            @foreach(var item in ViewBag.Transaksi)
                            {
                                <tr>
                                    <td>@(no++)</td>
                                    <td>@item.Paket.Nama_Paket</td>
                                    <td>@string.Format("{0:0,0}", item.Harga_total)</td>
                                    <td>
                                        @{ switch (item.Status_Transaksi)
                                            {
                                                case 0:
                                                    {
                                    <text>Iniciales esperando el pago</text> break;
                                }
                            case 1:
                                {
                                    <text>Se procesa el pago inicial</text> break;
                                }
                            case 2:
                                {
                                    <text>Esperando la redención</text> break;
                                }
                            case 3:
                                {
                                    <text>El pago es procesado</text> break;
                                }
                            case 4:
                                {
                                    <text>Pagado</text> break;
                                }
                            case 5:
                                {
                                    <text>Finalizado</text> break;
                                }
                            case 6:
                                {
                                    <text>Comentarios enviados</text> break;
                                }
                            default:
                                {
                                    <text>Cancelado</text> break;
                                }
                        } }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">Estadísticas de compra</div>
                    <div class="row py-3">
                        <div class="col-md-12 d-flex justify-content-around">
                            <div>
                                <h6 class="fw-bold text-uppercase text-success op-8">Monto de la compra</h6>
                                <h3 class="fw-bold">@ViewBag.trCount</h3>
                            </div>
                            <div>
                                <h6 class="fw-bold text-uppercase text-danger op-8">Totales de compra</h6>
                                <h3 class="fw-bold">@string.Format("{0:0,0}", ViewBag.trSum)</h3>
                            </div>
                        </div>
                        <div class="col-md-12 mt-5">
                            <div id="chart-container" style="position: relative; height: 100%">
                                <canvas id="chartJumlahPesanan"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        if ("@TempData["SuccessMessage"]" != "") {
            swal("Exitoso", "@TempData["SuccessMessage"]", {
                icon: "success",
                buttons: {
                    confirm: {
                        className: 'btn btn-success'
                    }
                },
            });
        }

        var jmlPesanan = document.getElementById('chartJumlahPesanan').getContext('2d');
        var dtDate = [];
        var dtCount = [];
        
        var array = @Html.Raw(Json.Encode(@ViewBag.dbData));
        
        for (var i = 0; i < array.length; i++) {
            //Convert Miliseconds to Date
            let d = new Date(numberOnly(array[i].tgl));

            //push ke array date dan count
            dtDate.push(moment(d.toString()).format("DD/MM/YYYY"));
            dtCount.push(array[i].jumlah);
        }


        var customerChart = new Chart(jmlPesanan, {
            type: 'bar',
            data: {
                labels: dtDate,
                datasets: [{
                    label: "Compra",
                    backgroundColor: '#ff9e27',
                    borderColor: 'rgb(23, 125, 255)',
                    data: dtCount,
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            
                            beginAtZero: true
                        },
                        gridLines: {
                            drawBorder: false,
                            display: false
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            drawBorder: false,
                            display: false
                        }
                    }]
                },
            }
        });

        customerChart.canvas.parentNode.style.height = '350px';

    </script>
}
