@model BUSS.Models.Customer

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nama)
        </dd>

        <dt>
            Dirección.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alamat)
        </dd>

        <dt>
            Número de télefono.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_HP)
        </dd>

        <dt>
            Correo.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Contraseña.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.NIK }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
